extends ./head
block content
  body
    include ./partials/header
    .bounds.app--body
      .error.grid-66.centered.align-center
        include ../public/images/twitter.svg
        h1 Error #{error[0].code}
        h2 #{error[0].message}
        case error[0].code
          when 401
            | Please make sure that you have a valid #{space}
            strong config.js #{space}
            | file and that it's located in the same folder as #{space}
            strong app.js
          when 403
            | There was a problem with the length of your tweet. #{space}
            strong Please shorten your text!
          when 404
            | You can always click #{space}
            a(href="../") here
            | #{space} to return to the homepage.
          when 503
            | Please make sure you have a working internet connection. You can then refresh this page or click #{space}
            a(href="../") here
            | .
          default
            | Please contact the developer of this application for further assistance.
